
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.stopWatch {
  background-image: linear-gradient(to right, #6288df, #7774ed);
  padding: 15px 20px;
  border-radius: 10px;
  color: #fff;
}
