<div class="stopWatch">
  <div class="time">
    <span>{{hours}} : </span>
    <span>{{minutes}}: </span>
    <span>{{seconds}}: </span>
    <span>{{millis}}</span>
  </div>
  <div class="buttons-container">
    <button class="btn-play-pause" (click)="toggle()">
      <i *ngIf="!running" class="fas fa-play" ></i>
      <i *ngIf="running" class="fas fa-pause" ></i>
    </button>
    <button (click)="reset()">
      <i class="fas fa-redo-alt"></i>
    </button>
  </div>
</div>

