.time {
  font-size: 45px;
  font-family: clockicons,sans-serif;
  margin-bottom: 15px;
}

.buttons-container button {
  background: #fff;
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: #6288df;
}

.buttons-container i {
  display: block;
}

.btn-play-pause {
  margin-right: 10px;
}

.fa-play {
  padding-left: 2px;
}
